<html>
<head>
    <title>Notes App | Easily collaborate on notes</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand wide">
                <span class="title" ><h1>Notes App \> Finder <h1></span>
                <span class="commentary"><h3>Select a note or create one below</h3></span>
            </span>
            <a href="index.html">Home</a>
        </div>
    </nav>

    <div class="container" style="margin-top: 50px">
        <a href="#" class="btn btn-primary btn-sm" id="create-btn">Create New Note</a>
        <hr>
         <div class="card">
            <div class="list-group list-group-flush">
            </div>
        </div>
    </div> 
  
      
        <div class="dot">
                <div class="containerr">
                    <div class="card">
                        <div class="list-group list-group-flush">
                        </div>
                    </div>
                </div>  
        </div>
         
    </div>

    
   

    <script src="//cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/axios@0.17.0/dist/axios.min.js"></script>
    <script src="/app.js"></script>

</body>
 <footer class="footer">
        <div class="container" style="margin-bottom: 40px">
            <a href="https://twitter.com/intent/tweet?button_hashtag=Notemon&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="What do you like about Notemon?" data-related="gishtah,NASA" data-show-count="false">Tweet </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div> 
    </footer>
</html>